---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
	<p class='mb-3'>
		Panav Arpit Raaj is a Robotics Engineer and Computer Vision/ML specialist. He recently completed his B.Tech in Electrical and Electronics Engineering from IIT Patna, where he served as Undergraduate Representative (2024–2025) and led multiple award-winning robotics teams.
	</p>
	<p>
		Panav shares insights and technical documentation on <a href="https://medium.com/@panavraaj" target="_blank" class="underline">Medium</a> and <a href="https://panav.gitbook.io" target="_blank" class="underline">GitBook</a>. Connect with him on <a href="https://www.linkedin.com/in/panavraaj/" target="_blank" class="underline">LinkedIn</a> or <a href="mailto:praajarpit@gmail.com" class="underline">email</a>.
	</p>
</div>

</div>


